//コーナー三角オブジェクト
@mixin svg-object-radius($color) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 70" fill="%23#{$color}"><path class="cls-1" d="M0,0c8.25,5.9,15.44,13.3,21.2,21.84.36.57,9.11,13.59,12.66,29.02,1.14,5.12,1.71,10.32,1.71,10.32.28,2.92.43,5.83.43,8.82V0H0Z"/></svg>');
    aspect-ratio: 36/70;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
