@use "reset_v2.5" as *;
@use "variable" as *;

// @import "swiper/css";
// @import "swiper/css/navigation";
body {
    @include SunSerif;
    font-feature-settings: "palt";
    font-size: clamp(1.2rem, calc($base-vw * 1vw) + calc($slice * 1px), 1.6rem);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    width: 100%;
    color: $main-black;
    background-color: $base-white;
    @include tbw {
        overflow-x: clip;
    }
    @include tb {
        font-size: 1.4vw;
    }
    @include sp {
        font-size: 3.6vw;
    }
}
main {
    font-size: inherit;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fffbf4;
}
section,
article,
header,
footer {
    width: 100%;
    position: relative;
    font-size: inherit;
    z-index: 1;
}
svg {
    width: 100%;
    fill: unset;
    stroke: unset;
}
br {
    &.pc {
        @include sp {
            display: none;
        }
    }
    &.sp {
        display: none;
        @include sp {
            display: inline;
        }
    }
}
input {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include SunSerif;
    font-size: inherit;
    z-index: 200;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(#000, 0.2);
        z-index: -1;
    }
    div {
        font-size: inherit;
    }
    .modal-content {
        display: flex;
        font-size: inherit;
        flex-direction: column;
        background-color: #fff;
        color: #181818;
        padding: 3em 8em;
        margin-inline: auto;
        z-index: 201;
        border-radius: $radius14;
        .contact-modal {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem 0;
            h3 {
                font-size: 2.4rem;
                font-weight: 700;
            }
            p {
                font-size: 1.8rem;
            }
        }
        .modalClose {
            border: solid 1px #000;
            font-size: 1.6rem;
            margin-top: 2em;
            padding: 0.8em 2em;
            align-self: center;
            border-radius: 5px;
        }
    }
}
