/* =================================
 * 	リタワーク[企業向け] TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
/* =================================
 * HEADER
 * ------------------------------ */
.containerHeader {
    display: flex;
    flex-direction: column;
    .boxH1 {
        color: #fff;
        background-color: $other-black;
        font-size: inherit;
        padding: 0.3em 1em;
        span {
            font-size: FZ(18);
            letter-spacing: 0.3em;
        }
        h1 {
            position: absolute;
            width: max-content;
            top: 0;
            right: 0;
            background-color: $key-orange;
            display: flex;
            align-items: center;
            font-size: FZ(14);
            gap: 0 1em;
            padding: 1em 1em;
            border-bottom-left-radius: 1rem;
            z-index: 2;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 100%;
                width: 8px;
                @include svg-object-radius("ff7b00");
            }
            svg {
                fill: #fff;
                width: 143px;
                aspect-ratio: 275/50;
            }
        }
    }
    .blockTop {
        padding: 1em 4vw;
        background: url(/images/hero.webp) no-repeat center center / cover;
        .catch {
            color: #fffbf4;
            font-weight: 900;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20vw 0;
            font-size: 14vw;
            border: solid 1px #0000ff;
            span {
                letter-spacing: 0.08em;
            }
        }
    }
}
