/* =================================
 * 	リタワーク[企業向け] TopHero
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEADER
 * ------------------------------ */
.containerHeader {
    display: flex;
    flex-direction: column;
    .boxH1 {
        color: #fff;
        background-color: $other-black;
        font-size: inherit;
        padding: 0.5em 1em;
        @include sp {
            height: 16vw;
        }
        span {
            display: inline-block;
            font-size: FZ(18);
            letter-spacing: 0.3em;
            position: relative;
            opacity: 0;
            translate: -2em;
            @include sp {
                font-size: FZ(12);
                translate: 0;
            }
        }
        h1 {
            position: absolute;
            width: 46rem;
            top: 0;
            right: 0;
            background-color: $key-orange;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: FZ(14);
            gap: 0 1em;
            padding: 1em 2em;
            border-bottom-left-radius: 1rem;
            z-index: 3;
            @include sp {
                flex-direction: column;
                font-size: FZ(12);
                gap: 1vw 0;
                padding: 0 4vw;
                height: 16vw;
                width: 70vw;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 100%;
                width: 8px;
                @include svg-object-radius("ff7b00");
            }
            svg {
                fill: #fff;
                width: 143px;
                aspect-ratio: $aspect-logo-footer;
            }
        }
    }
    .blockTop {
        position: relative;
        font-size: inherit;
        padding: 0 4vw;
        z-index: 2;
        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
        }
        &::before {
            background: url("/images/hero.webp") no-repeat 40% 45% / 105%;
            @include sp {
                background-position: 10% 100%;
                background-size: 150%;
            }
        }
        &::after {
            background: url("../images/bg.webp");
            mix-blend-mode: color-dodge;
            opacity: 0.8;
        }
        .catch {
            color: #fffbf4;
            font-weight: 900;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 26vw 0;
            font-size: 13.9vw;
            translate: 0 0.2em;
            @include sp {
                font-size: 20vw;
                gap: 4vw 0;
                translate: 0 34vw;
                margin-top: 9vw;
            }
            span {
                display: inline-block;
                letter-spacing: 0.06em;
                opacity: 0;
                translate: -0.2em;
                filter: blur(0.5rem);
                @include sp {
                    line-height: 1em;
                }
                i {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        translate: -50%;
                        bottom: calc(100% + 0.01em);
                        width: 2.7rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background-color: #fffbf4;
                        @include sp {
                            width: 2vw;
                            bottom: calc(100% - 1vw);
                        }
                    }
                }
            }
        }
        .svgText {
            position: absolute;
            right: 8vw;
            top: 8vw;
            font-size: inherit;
            width: 25vw;
            opacity: 0;
            translate: 3rem;
            @include sp {
                right: unset;
                left: 4vw;
                width: 40vw;
                top: 7vw;
            }
            svg {
                aspect-ratio: 334/148;
                fill: $other-black;
            }
        }
        .linkContact {
            position: absolute;
            right: 8vw;
            bottom: 15vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: FZ(20);
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.04em;
            padding: 0.8em 2em;
            z-index: 2;
            animation-name: move-link;
            animation-duration: 1s;
            animation-direction: alternate;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
            opacity: 0;
            @include sp {
                display: none;
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background-color: $base-blue;
                border-radius: 100vmax;
                z-index: -1;
                transition: 0.3s ease-out;
            }
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                translate: -50%;
                width: 50%;
                background: url("../images/mascot01.webp") no-repeat center
                    center/contain;
                aspect-ratio: 194/327;
                bottom: 23%;
                z-index: -1;
            }
            span {
                font-size: 0.8em;
                font-weight: 500;
            }
            @include hover {
                &::after {
                    background-color: $hover-blue;
                }
            }
            @keyframes move-link {
                0% {
                    translate: 0;
                }
                100% {
                    translate: 0 1rem;
                }
            }
        }
    }
    .blockBottom {
        display: flex;
        justify-content: center;
        padding: 6em 4vw;
        gap: 0 3em;
        @include sp {
            padding: 34vw 0 14vw;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            @include bottom-radius($radius80);
            @include sp {
                @include bottom-radius($radius-sp80);
            }
        }
        &::before {
            background-color: $main-orange;
        }
        &::after {
            background: url("../images/bg.webp");
            mix-blend-mode: color-dodge;
            opacity: 0.8;
        }
        article {
            display: flex;
            justify-content: space-between;
            max-width: $articleMaxWidth;
            container-type: inline-size;
            @include sp {
                display: grid;
                grid-template-columns: auto 1fr;
            }
        }
        .text {
            position: relative;
            align-self: center;
            font-size: FZ(36);
            font-weight: 600;
            color: $other-black;
            letter-spacing: 0.09em;
            line-height: 1.3em;
            padding-left: 25cqw;
            @include sp {
                padding-left: unset;
                font-size: FZ(18);
                align-self: flex-end;
            }
            &::before {
                position: absolute;
                content: "";
                top: 50%;
                translate: 0 -50%;
                left: 0;
                width: 23cqw;
                background: url("../images/mascot02.webp") no-repeat center
                    center/contain;
                aspect-ratio: 423/569;
                @include sp {
                    top: unset;
                    bottom: calc(100% + 2vw);
                    left: 0;
                    translate: 0;
                    width: 35vw;
                }
            }
            i {
                display: none;
                @include sp {
                    display: inline;
                    margin-left: 0.5em;
                }
            }
        }
        .wrapList {
            display: flex;
            flex-direction: column;
            font-size: inherit;
            min-width: 50%;
            @include sp {
                display: contents;
            }
            h2 {
                color: $other-black;
                font-size: FZ(40);
                font-weight: 700;
                letter-spacing: 0.1em;
                @include sp {
                    order: -1;
                    padding-left: 5vw;
                    font-size: FZ(36);
                    padding-bottom: 4vw;
                }
                i {
                    @include Outfit;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 1.2em;
                }
            }
            nav {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                margin-top: 1.6em;
                gap: 0.8em 0;
                @include sp {
                    grid-column: span 2;
                    padding-right: 4vw;
                }
                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    background-color: $base-blue;
                    color: #fff;
                    font-size: FZ(24);
                    font-weight: 500;
                    padding: 0.5em 1.4em;
                    border-radius: 100vmax;
                    letter-spacing: 0.12em;
                    transition: 0.3s ease-out;
                    @include sp {
                        border-radius: 0 100vmax 100vmax 0;
                        font-size: FZ(16);
                        padding: 4vw;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        translate: 0 -50%;
                        right: 1.2em;
                        @include svg-arrow-bottom("fff");
                        width: 0.5em;
                        transition: 0.3s ease-out;
                        @include sp {
                            width: 3vw;
                        }
                    }
                    @include hover {
                        background-color: $hover-blue;
                        &::before {
                            translate: 0 20%;
                        }
                    }
                }
            }
        }
    }
    &.is-active {
        .boxH1 {
            span {
                opacity: 1;
                translate: 0;
                transition: 0.2s ease-out;
            }
        }
        .blockTop {
            &::before {
                transition: 10s;
            }
            .catch {
                span {
                    opacity: 1;
                    translate: 0;
                    filter: blur(0);
                }
                .textHead {
                    @include transition-move(0.3s, 0.01s);
                }
                .textBottom {
                    @include transition-move(0.3s, 0.1s);
                }
            }
            .svgText {
                opacity: 1;
                translate: 0;
                @include transition-move(0.5s, 0.5s);
            }
            .linkContact {
                opacity: 1;
                @include transition-move(1.4s, 1s);
            }
        }
    }
}
